
:root{
    --accentcol: #ecf4ff;
    --fontcol: #000000;
    --boxcol: #FFFFFF;
}
body{
    padding: 30px;
    font-family: 'Poppins',sans-serif;
}

/*--------------------NAVBAR STYLES-------------------------------*/

.nav{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    list-style: none;
    .nav-link{
        text-decoration: none;
        color: var(--fontcol);
        .box{
            padding: 4px;
            background-color: var(--boxcol);
        }
        .active{
            background-color: var(--fontcol);
            color: var(--boxcol);
        }
    }

}

/*--------------------CARD STYLES-------------------------------*/

.flex{
    display: flex;
    flex-direction: column;
    gap: 3em;
    .flex-item{
        .card{
            width: 375px;
            img{
               max-width: 375px;
            }
            .items{
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: var(--accentcol);
                padding: 25px;
            button{
                padding: 10px;
                background-color: transparent;
                a{
                    text-decoration: none;
                    color: var(--fontcol);
                }
            }
            button:hover{
                background-color: var(--fontcol);
                a{
                    color: var(--boxcol);
                }
            }
        }
        }
    }
}

@media  (min-width: 768px){
    body{
        padding: 50px;
    }
    
/*--------------------NAVBAR STYLES-------------------------------*/

     .nav{
        flex-direction: row;
        gap: 5em;
    }
    .nav-link:hover{
        .box{
            transition: 1000ms ease;
            background-color: var(--fontcol);
            color: var(--boxcol);
        }
    }
 /*--------------------CARD STYLES-------------------------------*/

    .flex{
        display: flex;
        flex-direction: row;
        gap: 3em;
        }
    }
}

