
:root{
    --accentcol: #ecf4ff;
    --fontcol: #000000;
    --boxcol: #FFFFFF;
}
body{
    padding: 20px;
    font-family: 'Poppins',sans-serif;
}

/*--------------------NAVBAR STYLES-------------------------------*/

.nav{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    list-style: none;
    .nav-link{
        text-decoration: none;
        color: var(--fontcol);
        .box{
            padding: 4px;
            background-color: var(--boxcol);
        }
        .active{
            background-color: var(--fontcol);
            color: var(--boxcol);
        }
    }

}

/*--------------------CARD STYLES-------------------------------*/

.flex{
    display: flex;
    flex-direction: column;
    gap: 3em;
    .flex-item{
        .card{
            width: 300px;
            margin: 0 auto;
            img{
               width: 300px;
            }
            .items{
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                background-color: var(--accentcol);
                padding: 20px;
            button{
                padding: 10px;
                background-color: transparent;
                a{
                    text-decoration: none;
                    color: var(--fontcol);
                }
            }
            button:hover{
                background-color: var(--fontcol);
                a{
                    color: var(--boxcol);
                }
            }
        }
        }
    }
}

/*--------------------ABOUT PAGE STYLES-------------------------------*/

section.about{

     button{
         padding: 10px;
        background-color: transparent;
        a{
         text-decoration: none;
        color: var(--fontcol);
          }
            }
    button:hover{
         background-color: var(--fontcol);
         a{
              color: var(--boxcol);
        }
        }
}


@media  (min-width: 600px){
    body{
        padding: 50px;
    }
    
/*--------------------NAVBAR STYLES-------------------------------*/

     .nav{
        flex-direction: row;
        gap: 5em;
    }
    .nav-link:hover{
        .box{
            transition: 1000ms ease;
            background-color: var(--fontcol);
            color: var(--boxcol);
        }
    }
 /*--------------------CARD STYLES-------------------------------*/

    .flex{
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        gap: 5em;
        .flex-item{
            .card{
                width: 475px;
                img{
                    width: 475px;
                }
            }
        }
        }
    /*--------------------ABOUT PAGE STYLES-------------------------------*/
    section.about{
        max-width: 60%;
    }
}


